services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - DB_NAME=${DB_NAME}
      - DB_USERNAME=${DB_USERNAME}
      - DB_PASSWORD=${DB_PASSWORD}
      - ENV_JWT_KEY=${ENV_JWT_KEY}
      - WALMART_KEY=${WALMART_KEY}
    networks:
      - app-network

  frontend:
    build:
      context: ./src/frontend
      dockerfile: Dockerfile
      args:
        - REACT_APP_API_URL=${REACT_APP_API_URL:-http://localhost:8080}
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - app-network


volumes:
  postgres_data:

networks:
  app-network:
    driver: bridge