name: Deploy to EC2

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  test:
    name: Run Backend Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Cache Maven dependencies
        uses: actions/cache@v4
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-m2-

      - name: Run Maven tests
        env:
          JWT_KEY: ${{ secrets.jwt_key }}  #add key when running springboot
        run: mvn -B clean test          

  deploy:
    name: Deploy to EC2
    runs-on: ubuntu-latest
    needs: test   # deploy only if these tests pass

    steps:
      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.EC2HOST }}
          username: ec2-user
          key: ${{ secrets.EC2KEY }}
          script: |
            cd ~/Pantry-Assist
            git pull origin main
            docker compose down
            docker compose up -d --build
            docker system prune -f
